---
title: "Publications"
permalink: /
author_profile: true
redirect_from: 
  - /about/
  - /about.html
---
Peer-Reviewed Journal Publications
======
1. Chen, X., Lei, Z., And Ukkusuri, S. V. Modeling the Influence of Charging
Cost in Electric Ride-hailing Vehicles. Transportation Research Part C: Emerging
Technologies, Vol. 160, p.104514 (2024).
2. Lei, Z., Xue, J., Chen, X., Qian, X., Saumya, C., He, M., Sobolevsky,
S., Kulkarni, M. and Ukkusuri, S.V. METS-R SIM: A simulator for multimodal Energy-optimal Trip Scheduling in Real-time with shared autonomous electric
vehicles. Simulation Modelling Practice and Theory, p.102898 (2024).
3. Verma, R., Mittal, S., Lei, Z., Chen, X., and Ukkusuri, S. V. Comparison
of home detection algorithms using smartphone GPS data. EPJ Data Science, 13(1),
p.6. (2024).
4. Chen, X., Qian, X., Lei, Z., Jue, X. And Ukkusuri, S. V. Online eco-routing for electric vehicles using combinatorial multi-armed bandit with estimated
covariance. Transportation Research Part D: Transport and Environment, Vol. 111,
103447 (September 2022).
5. He, M., Muaz, U., Jiang, H., Lei, Z., Chen, X., Ukkusuri, S. V., and
Sobolevsky, S. Ridership prediction and anomaly detection in transportation
hubs: an application to New York City. The European Physical Journal Special
Topics, 1-17 (2022).
6. Chen, X., Zheng, H., Wang, Z. and Chen, X. Exploring impacts of on-demand
ridesplitting on mobility via real-world ridesourcing data and questionnaires. The
Transportation, 48(4), pp.1541-1561 (2021).
7. Chen, X.M., Chen, X., Zheng, H. and Xiao, F. Efficient dispatching for on-demand ride services: Systematic optimization via Monte-Carlo tree search. The
Transportation Research Part C: Emerging Technologies, Vol. 127, p.103156 (2021).
8. Wang, Z., Chen, X. and Chen, X.M. Ridesplitting is shaping young people’s
travel behavior: Evidence from comparative survey via ride-sourcing platform. The
Transportation research part D: transport and environment, Vol. 75, pp.57-71 (2019).
9. Zheng, H., Chen, X. and Chen, X.M. How does on-demand ridesplitting influence vehicle use and purchase willingness? A case study in Hangzhou, China. The
IEEE Intelligent Transportation Systems Magazine, 11(3), pp.143-157 (2019).
10. Chen, X.M., Chen, X., Zheng, H. and Chen, C. Understanding network travel
time reliability with on-demand ride service data. The Frontiers of Engineering
Management, 11(3), 4(4), pp.388-398 (2017).

Peer-Reviewed Conference/Workshop Papers
======


{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}
