---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---
Peer-Reviewed Journal Publications
======
1. Chen, X., Lei, Z., And Ukkusuri, S. V. Modeling the Influence of Charging
Cost in Electric Ride-hailing Vehicles. Transportation Research Part C: Emerging
Technologies, Vol. 160, p.104514 (2024).
2. Lei, Z., Xue, J., Chen, X., Qian, X., Saumya, C., He, M., Sobolevsky,
S., Kulkarni, M. and Ukkusuri, S.V. METS-R SIM: A simulator for multimodal Energy-optimal Trip Scheduling in Real-time with shared autonomous electric
vehicles. Simulation Modelling Practice and Theory, p.102898 (2024).
3. Verma, R., Mittal, S., Lei, Z., Chen, X., and Ukkusuri, S. V. Comparison
of home detection algorithms using smartphone GPS data. EPJ Data Science, 13(1),
p.6. (2024).
4. Chen, X., Qian, X., Lei, Z., Jue, X. And Ukkusuri, S. V. Online ecorouting for electric vehicles using combinatorial multi-armed bandit with estimated
covariance. Transportation Research Part D: Transport and Environment, Vol. 111,
103447 (September 2022).
5. He, M., Muaz, U., Jiang, H., Lei, Z., Chen, X., Ukkusuri, S. V., and
Sobolevsky, S. Ridership prediction and anomaly detection in transportation
hubs: an application to New York City. The European Physical Journal Special
Topics, 1-17 (2022).

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}
